______ ______     |   |   |_     _|   |   |     |_|   _   |   __ \     __|     ______ ______ 
|______|______|    |       |_|   |_|-     -|       |       |   __ <__     |    |______|______|
                   |___|___|_______|___|___|_______|___|___|______/_______|                   
                                                                                              
 _______                     _______ _______      _______                                     
|       |.-----.-----.-----.|       |   _   |    |     __|.-----.----.--.--.-----.--.--.----. 
|   -   ||  _  |  -__|     ||   -  _|       |    |__     ||  -__|   _|  |  |  -__|  |  |   _| 
|_______||   __|_____|__|__||_______|___|___|    |_______||_____|__|  \___/|_____|_____|__|   
         |__|                                                                               

-----------------------------------  Deploy by ansible ---------------------------------------